.form-group {
    margin-bottom: 1em;
    text-align: left;
}
.trumbowyg-button-pane button {
    min-width: auto;
}
/* -------- RADIO -------- */
.form-group-inline [type="radio"] + label {
    margin-bottom: 1.5em;
}
.form-group-inline [type="radio"] + label:not(:last-child) {
    padding-right: 1em;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    left: -9999px;
    position: absolute;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding-left: 28px;
    position: relative;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    background: #fff;
    border: #333 1px solid;
    border-radius: 100%;
    content: '';
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    background: #333;
    border-radius: 100%;
    content: '';
    height: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 12px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"][disabled] + label,
[type="radio"][disabled]:checked + label:before,
[type="radio"][disabled]:not(:checked) + label:before {
    cursor: not-allowed;
}
[type="radio"][disabled]:checked + label:before,
[type="radio"][disabled]:not(:checked) + label:before {
    background: #bbb;
}

/* --------------------------- */
/* ---------- ROLE ----------- */
/* --------------------------- */
.badge-role {
    border-radius: 1em;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    color: #fff;
    display: inline-block;
    height: 1.5em;
    line-height: 1.3em;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
}
.badge-role i {
    font-size: .8em;
}

/* --------------------------- */
/* -------- NAVIGATION ------- */
/* --------------------------- */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin:  0 0 1em 0;
    list-style: none;
}
.nav a,
.nav button {
    color: #2185d0;
    display: block;
    padding: .6em 1em;
    text-decoration: none;
}

/* -------- TABS -------- */
.nav.nav-tabs {
    border-bottom: 1px solid rgba(34,36,38,.30);
}
.nav.nav-tabs a {
    margin-top: 2px;
}
.nav.nav-tabs a.active,
.nav.nav-tabs li.active a,
.nav.nav-tabs a.active:hover,
.nav.nav-tabs li.active a:hover {
    border-bottom: 2px solid #2185d0;
    margin-bottom: -2px;
}
.nav.nav-tabs a:hover,
.nav.nav-tabs li a:hover {
    background-color: #eee;
    border-bottom: 2px solid rgba(34,36,38,.30);
    margin-bottom: -2px;
}